<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%- include("./shared/head.ejs") %>
  <body style="margin: 0">
    <table
      align="center"
      width="100%"
      border="0"
      cellPadding="0"
      cellSpacing="0"
      role="presentation"
      style="
        max-width: 600px;
        min-width: 300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem;
      "
    >
      <tbody>
        <tr style="width: 100%">
          <td>
            <table
              align="center"
              width="100%"
              border="0"
              cellPadding="0"
              cellSpacing="0"
              role="presentation"
              style="margin-top: 0px; margin-bottom: 0px"
            >
              <tbody style="width: 100%">
                <tr style="width: 100%">
                  <td align="center" data-id="__react-email-column">
                    <a
                      href="https://static.wixstatic.com/media/d4968a_f8a02bb7438e49b583835ea220a8a650~mv2_d_7429_7037_s_4_2.png/v1/fill/w_269,h_270,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/chaqchao_logo_transparent_blue_with_circ.png"
                      rel="noopener noreferrer"
                      style="display: block; max-width: 100%; text-decoration: none"
                      target="_blank"
                      ><img
                        title="Image"
                        alt="Image"
                        src="https://static.wixstatic.com/media/d4968a_f8a02bb7438e49b583835ea220a8a650~mv2_d_7429_7037_s_4_2.png/v1/fill/w_269,h_270,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/chaqchao_logo_transparent_blue_with_circ.png"
                        style="
                          display: block;
                          outline: none;
                          border: none;
                          text-decoration: none;
                          width: 145px;
                          max-width: 100%;
                        "
                    /></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              align="center"
              width="100%"
              border="0"
              cellPadding="0"
              cellSpacing="0"
              role="presentation"
              style="max-width: 37.5em; height: 64px"
            >
              <tbody>
                <tr style="width: 100%">
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h2
              style="
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 0px;
                margin-bottom: 12px;
                text-align: left;
                color: #111827;
                font-size: 30px;
                line-height: 36px;
                font-weight: 700;
              "
            >
              <strong>Hello, <%= locals.name %></strong>
            </h2>
            <p
              style="
                font-size: 15px;
                line-height: 26.25px;
                margin: 0 0 20px 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #374151;
              "
            >
              Your order has been successfully delivered at <%= locals.business %>!
            </p>
            <table
              align="center"
              width="100%"
              border="0"
              cellPadding="0"
              cellSpacing="0"
              role="presentation"
              style="margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0"
            >
              <tbody style="width: 100%">
                <tr style="width: 100%">
                  <td
                    align="left"
                    data-id="__react-email-column"
                    style="
                      border-color: #9effc4;
                      border-width: 1px;
                      border-style: solid;
                      background-color: #ffffff;
                      border-radius: 6px;
                      padding-top: 16px;
                      padding-right: 16px;
                      padding-bottom: 16px;
                      padding-left: 16px;
                    "
                  >
                    <p
                      style="
                        font-size: 15px;
                        line-height: 26.25px;
                        margin: 0 0 0px 0;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: #374151;
                      "
                    >
                      <strong>ORDER CODE:</strong> <%= locals.orderNumber %> <br /><strong
                        >Pickup Date:
                      </strong>
                      <%= locals.pickupDate %>
                      <br /><strong
                        >Total Order:
                      </strong>
                      <%= locals.totalOrder %> PEN
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="max-width:37.5em;height:16px">
                     <tbody>
                        <tr style="width:100%">
                           <td></td>
                        </tr>
                     </tbody>
                  </table>
                  <table
                class="responsive-table"
                style="
                  padding: 10px;
                  background-color: #F7F7F7;
                  width: 100%;
                  max-width: 600px;
                  border-radius: 6px;
                  border-collapse: collapse;
                "
                width="100%"
                border="0"
                cellspacing="0"
                cellpadding="0"
              >
                <tr>
                  <td colspan="4">
                    <strong style="color: #07a180; padding: 10px;">Products:</strong>
                  </td>
                </tr>
                <tr>
                  <td style="width: 60px;"></td>
                  <td style="width: 40%;">
                    <p style="color: #2b8579; margin: 0;">Name</p> 
                  </td>
                  <td style="width: 20%; text-align: center;">
                    <p style="color: #2b8579; margin: 0;">Quantity</p>
                  </td>
                  <td style="width: 20%; text-align: center;">
                    <p style="color: #2b8579; margin: 0;">Price</p>
                  </td>
                </tr>
                <% locals.products.forEach((product) => { %>
                <tr>
                  <td style="vertical-align: top; padding-top: 10px;">
                    <img src="<%= product.image %>" alt="<%= product.name %>" style="width: 60px; height: 60px; object-fit: cover;">
                  </td>
                  <td style="vertical-align: top; padding-top: 10px; word-break: break-word;">
                    <p style="margin: 0;"><%= product.name %></p>
                  </td>
                  <td style="vertical-align: top; padding-top: 10px; text-align: center;">
                    <p style="margin: 0;"><%= product.quantity %></p>
                  </td>
                  <td style="vertical-align: top; padding-top: 10px; text-align: center;">
                    <p style="margin: 0;">S/. <%= product.price %></p>
                  </td>
                </tr>
                <% }); %>
              </table>
              
              <!-- Versión móvil para clientes que no soportan tablas -->
              <div class="mobile-version" style="display: none; max-width: 600px; padding-left: 20px; background-color: #ffffff;">
                <p style="color: #07a180; font-weight: bold; margin-bottom: 10px;">Products:</p>
                <% locals.products.forEach((product) => { %>
                <div style="margin-bottom: 15px; border-bottom: 1px solid #eee; padding-bottom: 10px;">
                  <div style="display: flex; align-items: center; margin-bottom: 5px;">
                    <img src="<%= product.image %>" alt="<%= product.name %>" style="width: 60px; height: 60px; object-fit: cover; margin-right: 10px;">
                    <div>
                      <p style="margin: 0; font-weight: bold;"><%= product.name %></p>
                      <p style="margin: 5px 0 0 0;">Quantity: <%= product.quantity %></p>
                      <p style="margin: 5px 0 0 0;">Price: S/. <%= product.price %></p>
                    </div>
                  </div>
                </div>
                <% }); %>
              </div>
              
              <!-- Media query para mostrar la versión móvil en pantallas pequeñas -->
              <style type="text/css">
                @media screen and (max-width: 600px) {
                  table[class="responsive-table"] {
                    display: none !important;
                  }
                  div[class="mobile-version"] {
                    display: block !important;
                  }
                }
              </style>
                  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="max-width:37.5em;height:32px">
                     <tbody>
                        <tr style="width:100%">
                           <td></td>
                        </tr>
                     </tbody>
                  </table>
                  <p style="font-size:15px;line-height:26.25px;margin:0 0 20px 0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#374151">Thank you for choosing <a href="<%= locals.business %>" rel="noopener noreferrer nofollow" style="color:#111827;text-decoration:none;font-weight:500" target="_blank"><%= locals.business %></a>. We hope you enjoy your products.</p>
            <p
              style="
                font-size: 15px;
                line-height: 26.25px;
                margin: 0 0 20px 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #374151;
              "
            >
              Best regards,<br /><%= locals.business %>
            </p>
            <%- include("./shared/footer.ejs") %>
          </td>
        </tr>
      </tbody>
    </table>
    <!--/$-->
  </body>
</html>
